<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Participation System</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div th:replace="/fragments/navbar :: navbar">
</div>

<div class="container">
    <h1>Settings</h1>
    <br />

    <div id="invalidWords" class="panel panel-info" style="height: 40%; position: relative">
        <div class="panel-heading">
            <h3>Invalid Words</h3>
        </div>
        <div class="panel-body pre-scrollable" style="max-height:62%;">
            <ul class="list-group">
                <li class="list-group-item list-group-item-warning" th:each="invalidWord : ${invalidWords}"
                    style=" margin-bottom: 5px;">
                    <span th:text="${invalidWord.word}"/>
                    <form method="post" style="float:right;" th:action="${'/deleteInvalidWord/'+ invalidWord.id}"
                          th:id="${'form-delete-word-'+invalidWord.id}">
                        <a style="cursor:pointer;" type="submit"
                           th:onclick="'document.getElementById(\''+${'form-delete-word-'+invalidWord.id}+'\').submit()'"
                           class="glyphicon glyphicon-remove pull-right"/>
                    </form>
                </li>
            </ul>
        </div>
        <div class="panel-footer" style="position: absolute; bottom: 0;">
            <form class="input-group" th:object="${createInvalidWord}" th:action="@{/createInvalidWord}" method="post">
                <input type="text" class="form-control" required="true" placeholder="Invalid Word" th:field="*{word}"/>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default glyphicon glyphicon-plus"/>
                </div>
            </form>
        </div>
    </div>

    <div id="manageCategories" class="panel panel-info" style="height: 40%; position: relative;">
        <div class="panel-heading">
            <h3>Manage Categories</h3>
        </div>
        <div class="panel-body pre-scrollable"  style="max-height:62%;">
            <table class="table">
                <thead>
                <tr>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Minimal Support</th>
                    <th style="text-align: center">Delete</th>
                </tr>
                </thead>
                <tbody th:each="category : ${categories}">
                    <tr>
                        <td style="text-align: center" th:text="${category.name}"/>
                        <td style="text-align: center" th:text="${category.minimalSupport}"/>
                        <td style="text-align: center; ">
                            <form method="post" style="float:right; text-align: center"
                                  th:action="${'/deleteCategory/'+ category.id}" th:id="${'form-delete-cat-'+category.id}">
                                <a style="cursor:pointer;" type="submit"
                                   th:onclick="'document.getElementById(\''+${'form-delete-cat-'+category.id}+'\').submit()'"
                                   class="glyphicon glyphicon-remove pull-right"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" style="position: absolute; bottom: 0;">
            <form class="input-group" th:object="${createCategory}" th:action="@{/createCategory}" method="post">
                <input type="text" style="float: left; width: 90%;" class="form-control" required="true"
                       placeholder="Name" th:field="*{name}"/>
                <input type="number" style="width: 10%;" min="0" class="form-control" required="true"
                       th:field="*{minimalSupport}"/>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default glyphicon glyphicon-plus"/>
                </div>
            </form>
        </div>
    </div>


</div>

</body>
</html>