<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Participation System</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div th:replace="/fragments/navbar :: navbar" ></div>

    <div class="container">

        <div th:if="${!user.isAdmin()}">
            <button id="openCreateProposalDialog" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#createComment" style="margin: 0 auto;">
                Create Proposal
            </button>
        </div>

        <div class="panel panel-default" th:with="proposalId=${selectedProposal.getId().toHexString()}">
            <div class="panel-heading">
                <a th:href="${'/user/proposal/' + proposalId}" th:text="${selectedProposal.getTitle()}"></a>
                <div class="pull-right">
                    <div th:id="${'votes-' + proposalId}" th:text="${selectedProposal.getVotes()}"></div>
                </div>
            </div>
            <div class="panel-body">
                <span th:text="${selectedProposal.getBody()}"></span>
            </div>
            <div class="panel-footer" style="overflow: auto;">
                <div th:if="${!user.isAdmin() and !selectedProposal.getVotedUsernames().contains(user.getLogin())}">
                    <form th:action="${'/voteProposal/' + proposalId}" th:method="post">
                        <button type="submit" class="btn btn-primary pull-right">Vote</button>
                    </form>
                </div>
                <div th:if="${user.isAdmin()}">
                    <form th:action="${'/deleteProposal/' + proposalId}" th:method="post">
                        <button type="submit" class="btn btn-danger pull-right">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="proposalList" th:each="comment : ${selectedProposal.getComments()}" style="margin-top: 50px;">
            <div class="panel panel-default" th:with="proposalId=${comment.getId().toHexString()}">
                <div class="panel-heading">
                    <div class="pull-right">
                        <div th:id="${'votes-' + proposalId}" th:text="${comment.getVotes()}"></div>
                    </div>
                </div>
                <div class="panel-body">
                    <span th:text="${comment.getBody()}"></span>
                </div>
                <div class="panel-footer" style="overflow: auto;">
                </div>
            </div>
        </div>

        <div id="createComment" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{/user/createComment}" th:object="${createComment}" th:method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="modal-title">Here you can write a comment for this proposal</div>
                        </div>
                        <div class="modal-body">
                            <label for="body">Comment for this proposal:</label>
                            <textarea class="form-control" rows="5" id="body" th:field="*{body}"></textarea>
                        </div>
                        <div class="modal-footer" style="overflow: auto">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Comment</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>