<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Participation System</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
    <script>
        function reply(commentNumber) {
            $('#createComment').modal('show');
            document.getElementById("body").value = "[Reply to #" + commentNumber + "]\n";
        }
    </script>
</head>
<body>
<div th:replace="/fragments/navbar :: navbar"></div>

<div class="container">


    <div class="panel panel-info" th:with="proposalId=${selectedProposal.getId().toHexString()}">
        <div class="panel-heading">
            <span th:text="${selectedProposal.getTitle()}"/>
            <span>[#</span><span th:text="${selectedProposal.getCategory()}"/><span>]</span>
            <div class="pull-right">
                <div th:id="${'votes-' + proposalId}" th:text="${selectedProposal.getVotes()}"></div>
            </div>
        </div>
        <div class="panel-body">
            <p align="justify" th:text="${selectedProposal.getBody()}"></p>

            <hr/>
            <span th:text="${'Created by: ' + selectedProposal.getAuthor() + '.'}"></span>
            <br/>
            <span th:text="${'At: ' + #dates.format(selectedProposal.getCreated(),'dd/MM/yyyy')+ '.'}"></span>

            <br/>
            <span th:text="${'Supported by: ' + selectedProposal.getVotes() + ' users.'}"></span>
            <br/>
            <span th:text="${'Needs the support of: ' + selectedProposal.getMinimalSupport() + ' users.'}"></span>
            <br/>
            <div th:if="${selectedProposal.isSupported()}">
                <span th:text="${'Currently it has enough support.'}"></span>
            </div>
            <div th:if="${!selectedProposal.isSupported()}">
                <span th:text="${'Currently it has not enough support.'}"></span>
            </div>
        </div>
        <div class="panel-footer" style="overflow: auto;">
            <div th:if="${!user.isAdmin()}">
                <form th:action="${'/voteProposal/' + proposalId}" th:method="post" style="margin:0;">
                    <button type="submit" class="btn btn-primary pull-right">Vote</button>
                </form>
            </div>
            <div th:if="${user.isAdmin()}">
                <form th:action="${'/deleteProposal/' + selectedProposal.id}" th:method="post" style="margin:0;">
                    <button type="submit" class="btn btn-danger pull-right">Delete</button>
                </form>

                <form id="form-add-votes" th:action="${'/addVotes/' + selectedProposal.id}" method="post">
                    <div class="input-group" style="width: 15%;">
                        <input type="number" name="quantity" class="form-control" min="1" placeholder="Votes"/>
                        <span class="btn btn-default input-group-addon" onclick="document.getElementById('form-add-votes').submit()">Add Votes</span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="comments-panel" class="panel panel-default">
        <div class="panel-heading" style="height: 4em;">
            <span>Comments</span>
            <button th:if="${!user.isAdmin()}" id="openCreateProposalDialog" type="button"
                    class="btn btn-primary pull-right"
                    data-toggle="modal"
                    data-target="#createComment" style="margin: 0;">
                Create Comment
            </button>
            <a id="order-by-popularity" th:if="${orderBy eq 'date'}"
               th:href="${'/user/proposal/' + selectedProposal.id + '?orderBy=popularity'}"
               class="btn btn-default pull-right" style="margin-right: 10;">
                Order by Popularity
            </a>
            <a id="order-by-date" th:if="${orderBy eq 'popularity'}"
               th:href="${'/user/proposal/' + selectedProposal.id + '?orderBy=date'}"
               class="btn btn-default pull-right" style="margin-right: 10;">
                Order by Date
            </a>

        </div>
        <div class="panel-body">
            <div class="comment" th:each="comment : ${selectedProposal.getComments()}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span th:text="${comment.getAuthor() + ' said at ' + #dates.format(comment.getCreated(),
                            'dd/MM/yyyy HH:mm') + ' [#' + comment.num + ']'}"></span>
                        <div class="pull-right" th:id="${'votes-' + proposalId}" th:text="${comment.getVotes()}"></div>
                    </div>
                    <div class="panel-body">
                        <span align="justify" th:text="${comment.getBody()}"></span>
                    </div>
                    <div class="panel-footer" style="overflow: auto;">
                        <div id="form-vote" th:if="${!user.isAdmin()}">
                            <form th:action="${'/user/voteComment/' + comment.num +'?proposalId='+ selectedProposal.getId().toHexString()}"
                                  th:method="post" style="margin:0;">
                                <div th:if="${!comment.getVotedUsernames().contains(user.getLogin())}">
                                    <button type="submit" class="btn btn-primary pull-right">Vote</button>
                                </div>
                                <div th:if="${comment.getVotedUsernames().contains(user.getLogin())}">
                                    <button type="submit" class="btn btn-info pull-right">Unvote</button>
                                </div>
                            </form>
                            <button th:if="${!user.isAdmin()}" id="btn-reply" type="button"
                                    th:onclick="'javascript:reply('+${comment.num}+')'"
                                    class="btn btn-default pull-right" style="margin-right: 10;">
                                Reply
                            </button>
                        </div>
                        <div th:if="${user.isAdmin()}">
                            <form th:action="${'/deleteComment/' + comment.num +'?proposalId='+ selectedProposal.getId().toHexString()}"
                                  th:method="post" style="margin:0;">
                                <button type="submit" class="btn btn-danger pull-right">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="createComment" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="${'/user/createComment/' + selectedProposal.getId()}" th:object="${createComment}"
                      th:method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-title">Here you can write a comment for this proposal</div>
                    </div>
                    <div class="modal-body">
                        <label for="body">Comment for this proposal:</label>
                        <textarea class="form-control" rows="5" id="body" th:field="*{body}"></textarea>
                    </div>
                    <div class="modal-footer" style="overflow: auto">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Comment</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>